@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap');

:root {
  --yellow: #FFCA42;
  --blue: #1B3764;
  --light-grey: #969AA0;
  --primary-blue: #B4C7E7;
  --light-blue: #F4F8FF;
  --white: #fff;
  --black: #141414;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zoc09');
  src:  url('fonts/icomoon.eot?zoc09#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?zoc09') format('truetype'),
  url('fonts/icomoon.woff?zoc09') format('woff'),
  url('fonts/icomoon.svg?zoc09#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-basket:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-ln:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}

body{
  margin: 0;
  font-family: 'Inter',sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: var(--grey);
  font-weight: 400;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

.wrapper{
  width: 100%;
  overflow: hidden;
  position: relative;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

p{
  margin: 0 0 10px;
}

a{
  color: var(--blue);
  text-decoration: none;
  font-family: 'Cardo',serif;
}

a:hover{
  opacity: .7;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Cardo',serif;
  color: var(--blue);
  margin: 0 0 20px;
}

h1{
  font-size: 42px;
  line-height: 1.19;
}

.title-center{
  position: relative;
  padding-bottom: 26px;
  text-align: center;
}

.title-center::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background: var(--yellow);
}

.title-left{
  position: relative;
  padding-bottom: 26px;
  text-align: left;
}

.title-left::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 50px;
  height: 3px;
  background: var(--yellow);
}

.btn{
  display: inline-block;
  vertical-align: top;
  background: var(--yellow);
  border: 2px solid var(--yellow);
  font-family: 'Cardo',serif;
  padding: 17px 50px;
  color: var(--blue);
}

.btn-outline{
  background: transparent;
}

.btn-primary{
  background: var(--blue);
  background-color: var(--blue);
  color: var(--white);
}

.section-header {
  padding-bottom: 50px;
}

.header {
  background: var(--blue);
  padding: 22px 0;
  color: var(--white);
}

.header a {
  color: inherit;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.nav-holder {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 37px 0 15px;
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: .017em;
}

.nav-item + .nav-item {
  padding-left: 47px;
}

.nav-item a {
  font-family: "Inter", sans-serif;
}

.nav-item a:hover {
  color: var(--yellow);
}

.header .social-list {
  padding: 0 15px 0 37px;
}

.social-list {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.social-item + .social-item {
  padding-left: 10px;
}

a.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid var(--white);
  background: var(--white);
  color: var(--black);
}

a.social-link:hover {
  background: transparent;
  color: var(--white);
}

.header-cart {
  display: flex;
  align-items: center;
}

.header-cart .cart {
  color: var(--black);
  margin-right: 50px;
  font-size: 17px;
}

.cart-link:hover {
  color: var(--yellow);
}

.order-box .order-link {
  color: var(--blue);
}

.section-blue {
  background-color: var(--blue);
  color: var(--primary-blue);
}

.section-blue {
  background-color: var(--blue);
  color: var(--primary-blue);
}


.section-banner {
  background-color: var(--blue);
  color: var(--primary-blue);
  font-size: 18px;
}

.banner-wrap {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 -40px;
}

.banner-col {
  width: 50%;
  padding: 0 40px;
}

.banner-img {
  padding-top: 140.5%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-banner .sup-title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 49px;
  color: var(--white);
  font-family: "Cardo", serif;
  font-size: 21px;
  letter-spacing: .012em;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-banner .sup-title:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 35px;
  height: 2px;
  background-color: var(--yellow);
}

.section-banner .title {
  color: var(--white);
  font-size: 64px;
  letter-spacing: .013em;
}

.banner-body {
  padding-bottom: 32px;
}

.banner-list {
  display: flex;
  align-items: center;
  margin-bottom: 47px;
}

.banner-list-item {
  margin-right: 51px;
}

.banner-list a {
  text-transform: capitalize;
}

.banner-list-item .underline {
  color: var(--white);
  letter-spacing: .038em;
  position: relative;
  transition: .3s color ease-in-out;
}

.banner-list-item .underline:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 1px;
  background-color: var(--white);
  transition: .3s opacity ease-in-out;
}

.banner-list-item .underline:hover {
  color: var(--yellow);
}

.banner-list-item .underline:hover:after {
  opacity: 0;
}

.section-banner .cat-item {
  display: flex;
  flex-direction: column;
  margin-right: 78px;
}

.section-banner .cat-item:nth-child(3n+n) {
  margin-right: 0;
}

.section-banner .cat-item:before {
  top: 7px;
}

.section-banner .cat-list {
  display: flex;
  flex-wrap: wrap;
}

.section-banner .cat-list a {
  color: var(--white);
  font-size: 24px;
  letter-spacing: .038em;
  margin-bottom: 12px;
}

.section-banner .cat-list span {
  font-size: 17px;
}

section{
  padding: 126px 0 102px;
}

.section-authors .row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}

.section-authors .col{
  width: 50%;
  padding: 0 24px 48px;
}

.section-authors .card{
  display: flex;
}

.section-authors .preview{
  max-width: 307px;
  width: 100%;
  padding-top: 67.2%;
  background-position: center;
  background-size: cover;
  /* height: 404px; */
}

.section-authors .card-description{
  width: calc(100% - 307px);
  padding: 49px 0 49px 30px;
}

.section-authors .card-title{
  margin-bottom: 7px;
  font-size: 32px;
  line-height: 1.18;
}

.price{
  color: var(--yellow);
  font-size: 21px; 
  display: inline-block;
  vertical-align: top;
  margin-bottom: 17px; 
}

.cat-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.cat-item{
  position: relative;
  padding-left: 26px;
  margin-bottom: 27px;
}

.cat-item::before{
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background: var(--yellow);
  border-radius: 50%;
}

.section-partners .row{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.section-partners .col{
  width: 25%;
  padding: 0 23px;
}

.section-partners .card-img{
  max-width: 189px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.section-partners .card-title{
  font-family: 'Cardo',serif;
  font-size: 24px;
  line-height: 1.2;
  color: var(--blue);
  margin: 19px 0;
}

.book-section{
  background-color: var(--blue);
}

.book-section .row{
  display: flex;
  padding: 70px;
}

.book-section .col{
  width: 50%;
}

.book-section .col + .col{
  margin-left: 130px;
}

.book-section .btn{
  margin-top: 27px;
  color: var(--white);
  margin-bottom: 65px;
}

.book-section .title-left{
  color: var(--white);
}

.book-section .book-desc{
  color: #b4c7e7;
}

.book-section .book-img{
  min-width: 560px;
  min-height: 394px;
  background-repeat: no-repeat;
  background-position: right;
}

.knowledge-section{
  background-color: #F4F8FF;
  padding: 100px 70px 120px;
}

.knowledge-section .row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.knowledge-section .col{
  width: 50%;
  padding: 0 15px 20px;
}

.knowledge-section .card{
  padding: 40px 40px 17px;
  background-color: var(--white);
  transition: 0.3s box-shadow ease-in-out;
}

.knowledge-section .card:hover {
  box-shadow: 0 5px 24px -5px var(--light-gray);
}

.knowledge-section .knowledge-title{
  font-size: 24px;
  font-family: 'Cardo',serif;
  text-align-last: left;
  color: var(--blue);
  margin-bottom: 21px;
}

.knowledge-section .knowledge-desc{
  max-width: 500px;
  margin-bottom: 10px;
  color: var(--light-grey);
}

.knowledge-section .knowledge-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.knowledge-section .knowledge-list-item{
  font-family: 'Cardo',serif;
  font-size: 22px;
  color: var(--blue);
  margin-left: 26px;
  position: relative;
}

.knowledge-section .knowledge-list-item::before{
  content: '';
  background-color: var(--yellow);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 0;
  transform: translateY(50%);
}

.knowledge-section .knowledge-list-item + .knowledge-list-item{
  margin-left: 61px;
}

.knowledge-section .knowledge-list-item span{
  font-family: 'Inter',serif;
  font-size: 17px;
  color: var(--light-grey);
  margin-left: 10px;
}

.knowledge-order{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knowledge-order-desc{
  margin-top: 35px;
  max-width: 330px;
  text-align: center;
  font-size: 18px;
  color: var(--light-grey);
}

.knowledge-order-desc a{
  font-family: 'Inter',serif;
}


.reviews .reviews-inner{
  display: flex;
}

.reviews .reviews-inner .col{
  max-width: 435px;
  margin-right: 10px;
}

.reviews .section-header{
  max-width: 320px;
  margin-top: 95px;
}

.reviews .reviews-desc{
  padding: 0px 13px 14px 0;
}

.reviews .row{
  display: flex;
  align-items: center;
  gap: 20px;
}

.reviews .card-author + .card-author{
  margin-top: 20px;
}

.reviews .card-author{
  background-color: var(--blue);
  text-align: left;
  color: var(--white);
}

.reviews .card-top{
  display: flex;
  padding: 30px 35px;
}

.reviews .card-top img{
  width: 85px;
  height: 85px;
}

.card-top-right{
  padding-top: 10px;
  margin-left: 20px;
}

.reviews .author-name{
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Cardo',serif;
  margin-bottom: 20px;
}

.rate {
  height: 20px;
  display: inline-block;
}

.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width: 20px;
  height: 20px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  border-radius: 50%;
}

.rate label {
  margin: 0 .25em;
}

.rate label:first-of-type {
  margin: 0 .25em 0 0;
}

.rate:not(:checked) > label:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--yellow);
}
.rate > input:checked ~ label {
  background: var(--yellow);
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: var(--yellow);
  opacity: .7;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  background: var(--yellow);
  opacity: .7;
}

.rating-value {
  font-size: 22px;
  line-height: 1.18;
  color: var(--blue);
}

.reviews .author-desc{
  padding: 0 56px 24px 35px;
  font-size: 18px;
}

.reviews .author-status{
  font-size: 22px;
  font-family: 'Cardo',serif;
}

.reviews .author-text{
  color: #B4C7E7;
  padding-top: 13px;
}

.section-light-blue {
  background-color: var(--light-blue);
}

.section-learn {
  padding: 136px 0 158px;
}

.learn-row,
.about-row {
    display: flex;
    align-items: flex-end;
    margin: 0 -34px;
}

.about-row {
  justify-content: space-between;
}

.learn-descr,
.learn-img,
.about-img,
.about-descr{
    padding: 0 34px;
    width: 100%;
}

.learn-descr {
  max-width: 636px;
}

.learn-img {
  max-width: 643px;
}

.about-img {
  max-width: 620px;
}

.learn-list {
  display: flex;
  flex-wrap: wrap;
  counter-reset: count;
}

.learn-item {
  width: 50%;
  padding: 0 15px 30px;
  counter-increment: count;
}

.item-box {
  display: flex;
  flex-direction: column;
  background-color: #F4F8FF;
  min-height: 272px;
  padding: 30px;
  width: 100%;
}

.item-box:before {
  content: counter(count, decimal-leading-zero);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--yellow);
  color: var(--blue);
  margin-bottom: 30px;
  border-radius: 50%;
  font-family: "Cardo", serif;
  font-size: 23px;
  line-height: 1;
}

.learn-link:hover {
  color: var(--yellow);
}

.learn-link {
  font-size: 22px;
  line-height: 1.41;
}

.decor-right {
  position: relative;
  z-index: 0;
}

.decor-right:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 10px solid var(--yellow);
  transform: translate(40px, 40px);
  z-index: -1;
}

.section-about .section-header {
 padding-bottom: 13px;
}

.about-description {
  padding-bottom: 23px;
  max-width: 559px;
}

.about-list {
  display: flex;
  width: 100%;
  padding-bottom: 69px;
}

.about-item {
  width: 33.33%;
  margin-right: 36px;
  border-right: 1px solid var(--yellow);
}

.about-item:last-of-type {
  border-right: none;
}

.about-list .value {
  font-size: 54px;
  line-height: 1.42;
  color: var(--blue);
}

.about-list .value-descr {
  font-size: 17px;
  line-height: 1.27;
}

.section-about .contacts {
  max-width: 484px;
  background-color: var(--blue);
  padding: 15px 20px;
  display: flex;
}

.section-about .qr-image {
  padding-right: 40px;
}

.qr-image img {
  width: 130px;
  height: 130px;
}

.section-about .contacts .contact-info,
.section-about .contacts a {
  color: var(--primary-blue);
  font-size: 18px;
  line-height: 1.58;
}

.section-about .contacts .item {
  padding-bottom: 4px;
}

.section-about .item a {
  transition: .3s color ease-in-out;
}

.section-about .item a:hover {
  color: var(--yellow);
}

.section-about .contact-info .name {
  font-size: 22px;
  line-height: 1.2;
  color: var(--yellow);
  padding-bottom: 10px;
}

.articles-section{
  background-color: #F4F8FF;
  margin-top: 0;
  padding-top: 130px;
  padding-bottom: 110px;
}

.articles-section .card{
  background-color: var(--white);
}

.articles-section .row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.articles-section .col{
  width: 33%;
  padding: 0 10px;
}

.articles-section .card-img{
  max-width: 420px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.articles-section .card-title{
  font-family: 'Cardo',serif;
  font-size: 24px;
  line-height: 1.4;
  color: var(--blue);
  padding: 25px 72px 19px 30px;
  text-align-last: left;
}

.articles-section .card-desc{
  padding: 0 30px;
}

.articles-section .card-detail{
  padding: 11px 30px;
  display: flex;
  justify-content: space-between;
  color: var(--blue);
  font-size: 16px;
}

.articles-section .card-btn{
  position: relative;
}

.articles-section .card-btn::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--blue);
  width: 100%;
}

.articles-section .card-btn:hover::before{
  opacity: 0.7;
}

.rate-box{
  width: 120px;
  height: 20px;
  position: relative;
  background: url('images/circle.png');
  background-size: auto 20px;
}

/* .rate-inner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: url('images/circle01.png');
  overflow: hidden;
  background-size: auto 20px;
}

.rate {
  height: 20px;
  padding: 0 10px;
} */
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width: 20px;
  height: 20px;
  margin: 0 0.25em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  border-radius: 50%;
}
.rate:not(:checked) > label:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--yellow);
}
.rate > input:checked ~ label {
  background: var(--yellow);   
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  background: var(--yellow);   
  opacity: 0.7;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  background: var(--yellow);   
}

.section-form {
  padding: 120px 0;
}

.container.container-yellow {
  background-color: var(--yellow);
  color: var(--blue);
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  padding-top: 96px;
  padding-bottom: 115px;
}

.form-box {
  max-width: 1000px;
  margin: 0 auto;
}

.form-description {
  max-width: 550px;
  margin: 0 auto 39px;
  text-align: center;
}

.section-form .title {
  padding-bottom: 25px;
  margin: 0;
}

input[type="email"] {
  height: 70px;
  padding: 19px 39px;
  border: 1px solid #DCE1E9;
  color: var(--blue);
  font-size: 18px;
  letter-spacing: .013em;
  width: 100%;
}

input::placeholder {
  color: var(--primary-blue);
}

.form {
  display: flex;
}

.form-input {
  max-width: 656px;
  width: 100%;
  margin-right: 16px;
}

.form-btn {
  width: calc(100% - 672px);
}

.form .btn {
  height: 100%;
  font-size: 18px;
  letter-spacing: .018em;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.footer{
  background: var(--blue);
  padding: 92px 0 86px;
}

.footer-top{
  display: flex;
  margin: 0 -44px;
}

.footer-title{
  font-family: 'Cardo',serif;
  font-size: 24px;
  display: block;
  margin-bottom: 24px;
  color: var(--white);
}

.footer-social{
  flex: 1 0 277px;
}

.footer-col{
  padding: 0 44px;
}

.footer .logo{
  display: inline-block;
  margin: 20px;
}

.footer .social-link{
  border-color: var(--yellow);
  color: var(--white);
  background: transparent;
  border-width: 1px;
}

.footer .social-link:hover{
  background: var(--yellow);
}

.footer-nav{
  flex: 1 0 527px;
}

.nav-row{
  display: flex;
  margin: 0 -56px;
}

.nav-col{
  padding: 0 56px;
}

.nav-footer-item{
  position: relative;
  padding-left: 38px;
  font-size: 18px;
  margin-bottom: 9px;
}

.nav-footer-item::before{
  content: '. . .';
  position: absolute;
  top: -4px;
  left: 0;
  color: var(--yellow);
}

.nav-footer-item a{
  color: var(--primary-blue);
  font-family: 'Inter',sans-serif;
}

.nav-footer-item a:hover{
  color: var(--white);
}

.footer-contact{
  flex: 1 0 436px;
}

.contact-list{

}

.contact-item{
  display: flex;
  margin-bottom: 28px;
}

.contact-title{
  min-width: 90px;
  margin-right: 28px;
  font-family: 'Cardo',serif;
  color: var(--white);
}

.contact-item address{
  font-style: normal;
  margin-bottom: 0;
  max-width: 255px;
  color: var(--primary-blue);
}

.contact-item a{
  color: var(--primary-blue);
}

.contact-item a:hover{
  text-decoration: underline;
}